html {
  font-size: $base-font-size;
  @media(min-width: 667px) {
    font-size: $base-font-size + 1;
  }
  @media(min-width: 960px) {
    font-size: $base-font-size + 2;
  }
}

body {
  font-size: 1em;
  font-family: $base-font-family;
  line-height: $base-line-height;
  color: $base-text-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $h-font-color;
}

a {
  color: $base-link-color;
}

ul, li {
  list-style: none;
  padding-left: 0;
}
