html,
body {
  height: 100%;
  max-width: 100%;
}

html {

  font-size: $base-font-size;
  @media(min-width: 667px) {
    font-size: $base-font-size + 1;
  }
  @media(min-width: 960px) {
    font-size: $base-font-size + 2;
  }
}

body {
  color: $base-text-color;
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

p {
  color: $grey;
  line-height: 1.5;
}

h1 {
  font-family: sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  color: $h-font-color;
  font-family: monospace;
  font-weight: 800;
}

a {
  color: $base-link-color;

  &:hover {
    color: darken($base-link-color, 10%);
  }
}

ul,
li {
  list-style: none;
  padding-left: 0;
}
