// color plate variable.
$white: #fff;
$default-black: #555;
$deep-pink: #723443;
$light-pink: #94344c;
$deep-blue: #1f2935;
$smooth-grey: #e9e3d7;
$pastel: #d3c4af;
$green-apple: #589f59;
$pastel-pink: #b99aa0;
$pastel-blue: #cfd3d6;
$ovaltine: #4b3f3f;
$aquar-blue: #478f87;
$sea: #098089;
$blue: #637aad;
$sun-flower: #edd25d;
$sun: #ecab39;
$fb-color: #3b5999;
$twitter-color: #55acef;
$heart: #ab1a1a;
$light-grey: #f8f8f8;


// theme-color
$primary-color: $deep-pink;
$secondary-color: $deep-blue;
$light-color: $pastel-pink;
$dark-color: $ovaltine;


// Base typo
$brand-font: 'Lucida Console', Monaco, monospace;
$base-font-size: 14px;
$base-font: 'Segoe UI', 'Segoe WP', 'Segoe Regular', sans-serif;
$base-line-height: 1.375;
$base-text-color: $default-black;

// Nav
$navbar-color: $white;

// Button
$toggle-btn-color: $light-color;
$regis-btn: $white;

// Header font
$h-font-color: $primary-color;


// Link
$base-link-color: $light-color;
