.btn-download {
  background-color: $pear;
  box-shadow: 0 2px 0 0 darken($pear, 10%);
  color: $white;

  &:hover,
  &:focus {
    background-color: lighten($pear, 10%);
    color: $white;
  }
}

.btn-brand {
  background-color: $pink;
  color: $white;
}

.btn-hook {
  background-color: darken($light-grey, 2%);
  border: 1px solid darken($light-grey, 20%);
  color: darken($light-grey, 50%);
  border-radius: 50px;
  margin-top: 2rem;
  width: 80%;
  &:hover, &:focus {
    background-color: $pear;
    color: $white;
  }
}

.btn-search {
  background-color: $pear;
  border: 0;
  border-radius: 0;
  color: rgba($white, .8);
  position: absolute;
  right: 16px;
  padding: .87rem 1rem;
  top: 1px;

  &:hover,
  &:focus {
    background-color: lighten($pear, 5%);
    color: $white;
  }
}

.btn-wrap {
  margin-top: 2.5rem;
}

.btn-flat {
  background-color: $pear;
  border: 0;
  color: $white;

  &:hover,
  &:focus {
    color: $white;
  }

  &:hover {
    background: linear-gradient(to bottom, lighten($pear, 5%) 5%, darken($pear, 5%) 100%);
    background-color: darken($pear, 20%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
  }
}

.btn-sign-in,
.btn-fb,
.btn-twitter {
  width: 100%;

  &:not(:first-child) {
    color: $white;
    margin-top: .5rem;
  }
}

.btn-fb {
  background-color: $fb-color;

  &:hover {
    background-color: lighten($fb-color, 5%);
  }
}

.btn-twitter {
  background-color: $twitter-color;

  &:hover {
    background-color: lighten($twitter-color, 5%);
  }
}
