// overwrite bootstrap class

.post {
  margin-bottom: 2rem;
  padding: 1.8rem;
  background-color: rgba(#eee, .6);
  border: 1px solid #aaa;
}

.push-right {
  float: right;
}

.sec-header {
  background-color: $pear;
  color: $white;
  padding: 1rem;
  width: 15rem;
}

.list {
  padding: 1rem;
  margin-bottom: .5rem;
}

.sidebar {
  .list-features {
    padding: 1.2rem;
    li {
      padding-bottom: 1rem;
      padding-top: 1rem;
      border-bottom: 1px solid #eee;
    }
  }
}

.side-header {
  padding: .5rem;
  background-color: $pear;
  color: $white;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

.block {
  margin-top: 3rem;
}

.search-bar {
  float: left;

  &:focus {
    border: 1px solid $primary-color;
    box-shadow: 0 0 2px $primary-color;
  }
}


.modal-login {

  &.in {
    .modal-dialog {
      transform: translate(0, 8%);
    }
  }

  .modal-body {
    padding: 2.5rem;
  }

  .modal-dialog {
    margin: 30px auto;
    max-width: 300px;
  }

  input {
    height: 2.5rem;
    letter-spacing: .1em;
    margin-bottom: .5rem;
    padding: .1rem .6rem;
    width: 100%;
  }

  .forget-user {
    font-size: .8em;
    text-align: right;
  }

}
