.icon {
  background-color: $light-grey;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid darken($light-grey, 10%);
  border-radius: 50%;
  display: block;
  margin: 0 auto 3rem;
}

.icon-md {
  background-size: 100px;
  height: 200px;
  width: 200px;
}

.icon-sm {
  transition: border-color 1s ease;
  background-size: 50px;
  border-width: 5px;
  height: 100px;
  width: 100px;
}

.icon-xs {
  background-size: cover;
  height: 50px;
  width: 50px;
}

.icon-fb {
  background-image: url('../images/fb.png');
}

.icon-youtube {
  background-image: url('../images/youtube.png');
}

.icon-dribbble {
  background-image: url('../images/dribbble.png');
}

.icon-sass {
  background-image: url('../images/sass.svg');

  &:hover {
    border-color: $sass;
  }
}

.icon-css3 {
  background-image: url('../images/css3.png');

  &:hover {
    border-color: $css3;
  }
}

.icon-html5 {
  background-image: url('../images/html5.png');

  &:hover {
    border-color: $html5;
  }
}

.icon-fast {
  background-image: url('../images/fast.png');
}

.icon-optimize {
  background-image: url('../images/optimize.png');
}

.icon-responsive {
  background-image: url('../images/responsive.png');
}


.icon-jquery {
  background-image: url('../images/jquery.png');
  background-size: 80px;

  &:hover {
    border-color: $jquery;
  }
}
