.silence {
  color: rgba($white, .8);
  font-weight: 300;
}

.heart {
  color: $hearth;
}

h3 {
  padding-bottom: 1.3rem;
  position: relative;

  &:after {
    background-color: rgba($primary-color, .4);
    bottom: 0;
    content: '';
    height: .5px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 120px;
  }
}

.logo-text {
  background-color: $pear;
  color: $white;
  font-family: $brand-font;
  font-weight: 800;

  &:hover,
  &:focus {
    color: $white;
  }
}
