
.section-primary-a {
  background-color: $pear;
  padding-top: 7rem;
  padding-bottom: 5rem;
  position: relative;
  overflow: hidden;

  .shape-pattern {
    width: 1200px;
    height: 400px;
    background-color: lighten($pear, 10%);
    position: absolute;
    top: -250px;
    left: -100px;
    transform: rotate(10deg);
    box-shadow: 1px 1px 5px 1px darken($pear, 15%);

    &:after {
      background-color: darken($pear, 15%);
      box-shadow: inset 1px 1px 5px 1px darken($pear, 20%);
      content: '';
      display: block;
      height: 500px;
      right: -550px;
      position: absolute;
      width: 500px;
    }
  }

  h2 {
    color: $white;
    font-style: italic;
    strong {
      font-size: 1.5em;
    }
  }
}

.showcase {
  background-image: url('../images/bg-sm.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backface-visibility: hidden;
  display: block;
  height: 100vh;
  transform: translate3d(0, 0, 0);
  width: 100%;

  &:before {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(72, 22, 40, .8) 100%);
    background-color: rgba(255, 255, 255, 0);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.showcase-content {
  display: block;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  h1 {
    // text-align: center;
    color: $sun-flower;
    font-size: 4em;
    font-weight: 800;

    span {
      color: $white;
      font-size: .8em;
    }
  }

  .heart {
    color: $hearth;
  }

  .lead {
    border-left: 5px solid $sun;
    color: $white;
    font-size: 14px;
    letter-spacing: .1em;
    line-height: 1.3;
    margin-left: 20%;
    margin-top: 5em;
    padding: 2rem;
    text-align: left;
    width: 60%;
  }

  @media (min-width: 1200px) {
    .lead {
      margin-left: 30%;
      width: 40%;
    }
  }
}

// .modal-open {

//   @media (min-width: 760px) {
//     .showcase-content {
//       left: calc(50% - 6.2px);
//     }
//   }
// }
